<section class="border">
  <div id="padding" class="container padding flex">
    <div class="responsive-width">
      <h2>Goditi Labtv sulla tua TV</h2>
      <p>
        Guarda Labtv sulla smart TV, Playstation, Xbox, Chromecast, Apple TV,
        lettori Blu-ray e molti altri dispositivi.
      </p>
    </div>
    <div class="img-center">
      <img src="/assets/img/tv-1.jpg" alt="guardare TV" />
    </div>
  </div>
</section>
<section class="border">
  <div class="container padding flex">
    <div class="img-center">
      <img src="/assets/img/tv-2.jpg" alt="guardare TV" />
    </div>
    <div class="responsive-width">
      <h2>Guarda Labtv ovunque</h2>
      <p>
        Cellulare, tablet, laptop e TV: scegli tu cosa usare per guardare in
        streaming film e serie TV senza limiti
      </p>
    </div>
  </div>
</section>
<section class="border">
  <div class="container padding flex">
    <div class="responsive-width">
      <h2>Crea profili per i bambini</h2>
      <p>
        I bambini scoprono nuove avventure in compagnia dei loro personaggi
        preferiti in uno spazio tutto loro già incluso nel tuo abbonamento
      </p>
    </div>
    <div class="img-center">
      <img src="/assets/img/bambini.png" alt="bambini" />
    </div>
  </div>
</section>
<section class="border">
  <div class="container padding flex">
    <div class="img-center">
      <img src="/assets/img/serie-tv.jpg" alt="guardare TV" />
    </div>
    <div class="responsive-width">
      <h2>Scarica le tue serie da guardare offline</h2>
      <p>Disponibili solo nei piani senza pubblicità</p>
    </div>
  </div>
</section>
